Source: indicator-display
Section: misc
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Charles Kerr <charles.kerr@canonical.com>
Build-Depends: cmake,
               cmake-extras (>= 0.4),
               dbus,
               libglib2.0-dev (>= 2.36),
               libgudev-1.0-dev,
               libproperties-cpp-dev,
# for coverage reports
               lcov,
# for tests
               qt5-default,
               qtbase5-dev,
               libqtdbusmock1-dev,
               libqtdbustest1-dev,
               cppcheck,
               libgtest-dev,
               google-mock (>= 1.6.0+svn437),
               gsettings-ubuntu-schemas (>= 0.0.2+14.10.20140813),
# for packaging
               debhelper (>= 9),
               dh-translations,
Standards-Version: 3.9.5
Homepage: http://launchpad.net/indicator-display/
X-Ubuntu-Use-Langpack: yes
# If you aren't a member of ~indicator-applet-developers but need to upload 
# packaging changes, just go ahead.  ~indicator-applet-developers will notice and 
# sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~indicator-applet-developers/indicator-display/trunk.14.10

Package: indicator-display
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gsettings-ubuntu-schemas (>= 0.0.2+14.10.20140813),
Description: Collection of small indicators
 Indicators too small to merit separate codebases, such as Rotation Lock
