#!/usr/bin/make -f

# Explicitly selecting a G{CC,++}-version here to avoid ABI breaks
# introduced by toolchain updates. <https://wiki.ubuntu.com/cpp-11>
export CC=$(DEB_HOST_GNU_TYPE)-gcc-4.9
export CXX=$(DEB_HOST_GNU_TYPE)-g++-4.9

%:
	dh $@ --with translations

